
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 0px; margin-bottom:0px">
 <c:if test = "${empty sessionScope.userId}"> <c:redirect url="authentification"></c:redirect></c:if>
<i class="fas fa-car" style="color:white;font-size:30px;padding-left:30px;" ></i>  <a class="navbar-brand" style="font-family:cursive;font-size:30px;height:200%;text-transform:none" href="/">MyRide</a>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a></a><li>
      <li class="nav-item"><a></a><li>
      <li class="nav-item"><a></a><li>
      <li class="nav-item ">
        
        <a class="nav-link" style="font-size:20px" href="/acceuilA">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item "><a></a></li>
      <li class="nav-item ">
        <a class="nav-link" style="font-size:20px" href="/voitures">voitures <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item "><a></a></li>
      <li class="nav-item ">
        <a class="nav-link" style="font-size:20px" href="/user-list">Admins <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item "><a></a></li>
      <li class="nav-item ">
        <a class="nav-link" style="font-size:20px" href="/demandes">Demandes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" style="font-size:20px" href="/">Deconnexion <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>

</nav>