<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
<!--CODE CSS-->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<!--Fichiers-->
	<link href="/css/style.css" rel="stylesheet" />
	<link href="/css/inscription.css" rel="stylesheet" />
	<link href="/css/authentification.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/webjars/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <title>Modifier Voiture</title>
  
  <style type="text/css">
  	body {
	    background: #E0EEEE;/* linear-gradient(to right, #c04848, #480048); */
	    min-height: 100vh
	}
	

	fieldset
{
  background-color:#B5DAE5;
  max-width:500px;
  padding:16px;
        border-radius: 25px;
	
}
	
	.text-gray {
	    color: #aaa
	}

  </style>
</head>

<body>

<!-- Menu -->

	<div th:replace="fragments/navbar-admin"></div>

	<div class="container-inscription">
		<div class="container">
                
                    <div class="wrap-inscription insc" style="margin-bottom: 100px;height:auto; width:700px;margin-left:auto;margin-right:auto;">
                        <div class="container" style="margin-left:-50px">
                            
                                    
			<div class="card-body">
				
					
				<caption>
					<h2>
																		<span class="inscription-form-title" style="margin-left: auto;margin-right:auto;margin-top: -20px;font-size:60px;text-align:center;">

            			Ajouter Voiture
            	
																		</span>
					</h2>
				</caption>

               <form action="#"  th:action="@{voitures/insertNewVoiture}" 
                     th:object="${voiture}"method="post">
				<fieldset class="form-group" >
					<label>Matricule</label> <input type="text"
						 class="form-control" th:field="${voiture.matricule}"
						name="matricule" id=matricule required="required">
				</fieldset>

				<fieldset class="form-group">
					<label>Nombre de personnes</label> <input type="text"
						th:field="${voiture.nombre_places}" class="form-control"
						name="nombre_places">
				</fieldset>
				<fieldset class="form-group">
					<label>Prix</label> <input type="text"
						th:field="${voiture.prix}" class="form-control"
						name="prix">
				</fieldset>
				<fieldset class="form-group" >
					<label>Genre</label> <input type="text"
						 class="form-control"
						name="genre"th:field="${voiture.genre}">
				</fieldset>
				<fieldset class="form-group" >
					<label>Image</label> <input type="text"
						 class="form-control"
						name="genre"th:field="${voiture.pic}">
				</fieldset>
				

				<button type="submit" class="btn btn-info" style="margin-left:200px;font-weight:bold">Save</button>
				</form>
			</div>
		</div>
	</div></div></div>
</body>
</html>