
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
<!--CODE CSS-->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<!--Fichiers-->
	<link href="/css/style.css" rel="stylesheet" />
	<link href="/css/inscription.css" rel="stylesheet" />
	<link href="/css/validation.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/webjars/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <title>demandes</title>
  
  <style type="text/css">
  	body {
	    background: #E0EEEE;/* linear-gradient(to right, #c04848, #480048); */
	    min-height: 100vh
	}
	

	
	
	.text-gray {
	    color: #aaa
	}

  </style>
</head>

<body>

<!-- Menu -->

<div th:replace="fragments/navbar-admin"></div>

<section id="blog" class="py-3" style="background: url('/images/fond.png');background-size: cover;">
   <div  style=" margin-top: -20px; margin-bottom: -20px;">
		<div class="container-inscription" style="width:auto;margin-top:10px;" >
            <div class="container" >
                <div class="row" style="margin-top: -100px;">
                    <div class="wrap-inscription insc" style="height:auto; width:1500px;margin-left:auto;margin-right:auto;">
                        <div class="container" style="margin-left:-120px;margin-right:auto;" >
                            <div class="row" >
                                    <span class="inscription-form-title" style="margin-left: auto;margin-right:auto;margin-top: -20px;font-size:400%;text-align:center;">
                                       Liste des demandes effectuées 
                                    </span>	
    <div class="row">
        <div class="col-lg-16 mx-auto">
<br>           <div class="container text-left" style="margin-bottom:-40px;">

				<a  th:href="@{/demandes/ShowDemandeNT}" class="btn btn-info">demandes non traitées</a>
			</div>
			<div class="container text-right" style="margin-bottom:20px;">

				<a th:href="@{/demandes/ShowDemandeT}" class="btn btn-info">demandes traitées</a>
			</div>
		
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
	                    <!-- Custom content-->
	                    <div class="row mt-0 font-weight-bold mb-2 dislay-4">
	                    	
	                    	
	                    	<div class="col-sm-6">
	                    		<h5 class="text-center"><i class="fas fa-box-open"></i> Details Commande</h5>
	                    	</div>
	                    	<div class="col-sm-3">
	                    		<h5 class="text-center"><i class="fas fa-box-open"></i> Details Client</h5>
	                    	</div>
	                    	
	                    	<div class="col-sm-3" style="width:1px">
	                    		<h5 class="text-center" style="margin-right:-70px;">Etat</h5>
	                    	</div>
	                    	
	                    	
	                    	
	                    </div>
	                </li>
               	<tr th:each="demande:${list}">
						
                	<li class="list-group-item">
	                    <!-- Custom content-->
	                    <div class="row mt-0 font-weight-bold mb-2 dislay-4">
	                    	
	                    	<div class="col-sm-6">
	                    		<div class="row  border border-info rounded" style="margin-right:0.5px;">
	                    		
	                    			
	                    					<h6><i class="fa fa-long-arrow-right mr-1 mb-1"></i><a style="font-weight:bold;color:cornflowerblue"> Numéro demande : </a> <a th:text="${demande.id}" ></a></h6>
	                    					<h6><i class="fa fa-long-arrow-right mr-1 mb-1"></i><a style="font-weight:bold;color:cornflowerblue"> Date de création : </a><a th:text="${demande.date_creation}" ></a></h6>
	                    					<h6><i class="fa fa-long-arrow-right mr-1 mb-1"></i><a style="font-weight:bold;color:cornflowerblue"> Prix : </a><a th:text="${demande.prix}" ></a>Dhs</h6>
	                    					<h6><i class="fa fa-long-arrow-right mr-1 mb-1"></i><a style="font-weight:bold;color:cornflowerblue"> Etat de commande : </a><a th:text="${demande.etat}" ></a></h6>
	                    					
	                    				
	                    				
	                    			
	                    		</div>
	                    		
	                    	
	                    	
	                    	</div>
	                    	<div class="col-sm-3">
	                    		<div class="row  border border-info rounded">
	                    		
	                    			
	                    					<h6><i class="fa fa-long-arrow-right mr-1 mb-1"></i><a style="font-weight:bold;color:cornflowerblue"> Nom : </a><a th:text="${demande.nom}" ></a></h6>
	                    					<h6><i class="fa fa-long-arrow-right mr-1 mb-1"></i><a style="font-weight:bold;color:cornflowerblue"> Prénom : </a><a th:text="${demande.prenom}" ></a></h6>
	                    					<h6><i class="fa fa-long-arrow-right mr-1 mb-1"></i><a style="font-weight:bold;color:cornflowerblue"> Email : </a><a th:text="${demande.email}" ></a></h6>
	                    					<h6><i class="fa fa-long-arrow-right mr-1 mb-1"></i><a style="font-weight:bold;color:cornflowerblue"> Numéro de téléphone : </a><a th:text="${demande.tel}" ></a></h6>
	                    					
	                    				
	                    				
	                    			
	                    		</div>
	                    		</div>
	                    	<div class="col-sm-3">
	                    	<div th:if ="${demande.etat== 'NF'}">
	                    	
							<td><a th:href="@{demandes/EditDemande/{id}(id=${demande.id})}" style="margin-left:70px;">Marquer comme traitée</a></td>
								</div>
	                    	</div>
	                    </div>
	                    
							
						
					</div>
	                     <!-- End -->
	                </li>
                </c:forEach>
            </ul> <!-- End -->
        </div>
        
    </div>
</div></div></div></div></div></div></section>
<script type="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</body>
</html>
