<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nouvelle demande</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/webjars/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/vendor/owl.carousel//owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/client-style.css" rel="stylesheet">

</head>

<body>
	
<div th:replace="fragments/sidebar-client"></div>

  <main id="main">
  <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Nouvelle Demande</h2>
          <p>Bénéficiez de nos services en effectuant de nouvelles demandes.</p>
        </div>
		

		<div class="container">
			<form method="post" name="nvDemande" th:action="@{/add_demande}" th:object="${demande}" onsubmit="validateForm()">
				<div class="container rounded bg-white mt-5">
				    <div class="row">
				        <div class="col-md-4 border-right d-flex justify-content-center ">
				            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
				            <span class="text-black-50">#Création de demande</span>
				            				            <img src="/images/car.png" width="220" height="120"/>

				            </div>
				        </div>
				        <div class="col-md-8">
				            <div class="p-3 py-5">
				                <div class="d-flex justify-content-between align-items-center mb-3">
				                    <div class="d-flex flex-row align-items-center back">
				                        <h6></h6>
				                    </div>
				                </div>
				                
				                <div class="row mt-2">
				                
				                    <div class="col-md-6">
					                    <select class="custom-select" required>
										  <option selected>Type de l'automobile</option>
										  <option value="1">Limousine</option>
										  <option value="2">Taxi</option>
										  <option value="3">SUV</option>
										</select>
									</div>

									<div class="col-md-6">
					                    <select class="custom-select" th:field="*{idVoiture}" required>
										  <option selected value="0">Marque / Matricule - Prix en Dhs</option>
										  <option th:each="voiture : ${voitures}" th:value="${voiture.id}" th:text="${voiture.marque}+' / '+${voiture.matricule}+ ' - ' +${voiture.prix}"></option>
										</select>
									</div>
				                 
				                </div>
				                
				                <div class="row mt-4">
				                	
				                
					                <div class="col-md-6">
					                    <input class="form-control" type="text" th:field="*{lieu_dep}" placeholder="Lieu de départ" required/>
									</div>
									<div class="col-md-6">
					                    <input class="form-control" type="text" th:field="*{lieu_dest}" placeholder="Lieu de destination" required/>
									</div>
									
									
				                </div>
				                
				                <div class="row mt-3">
				                    <div class="col-md-6">
					                    <input class="form-control" type="datetime-local" th:field="*{date_creation}" placeholder="Date et temps" required/>
									</div>
									
				                </div>
				                <div class="row mt-4">
				                	
				                	<div class="col-md-6">Equipements additifs : </div>
					                    <div class="form-check form-check-inline">
										  <input class="form-check-input" type="checkbox" id="wifi" th:field="*{wifi}" th:value="1">
										  <label class="form-check-label" for="wifi">Wifi</label>
										</div>
										<div class="form-check form-check-inline">
										  <input class="form-check-input" type="checkbox" id="chaise" th:field="*{chaise}" th:value="1">
										  <label class="form-check-label" for="chaise">Chaise pour enfant</label>
										</div>
									
				                </div>
				                
				                <button class="btn btn-dark profile-button ml-0 mt-5" type="submit"> Enregistrer la demande</button>
				            </div>
				        </div>
				    </div>
				</div>

        </form>
		</div>
      </div>
    </section><!-- End Portfolio Section -->
  </main>

  <!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/vendor/counterup/counterup.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/venobox/venobox.min.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/vendor/typed.js/typed.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
</body>