
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
<!--CODE CSS-->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
crossorigin="anonymous">
<!--Fichiers-->

<link rel="stylesheet" href="http://localhost:8088/Plateforme/style.css">
<link rel="stylesheet" href="http://localhost:8088/Plateforme/authentification.css">
<title>admin</title>
<style type="text/css">
  	body {
	    background: #E0EEEE;/* linear-gradient(to right, #c04848, #480048); */
	    min-height: 100vh
	}
	

	
	
	.text-gray {
	    color: #aaa
	}

  </style>
</head>
<body>

	<c:import url="navbar-admin.jsp"/>
	<div class="row">
		<!-- <div class="alert alert-success" *ngIf='message'>{{message}}</div> -->

		<div class="container">
			<h3 class="text-center">Listes des Admins</h3>
			<hr>
			<div class="container text-left">

				<a th:href="@{/user-list/newAdmin}" class="btn btn-info">ajouter un admin</a>
			</div>
			<br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prenom</th>
						<th>Email</th>
						<th>Telephone</th>
						<th>sexe</th>
						
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				
					
						<tr th:each="user:${list}">
					
							<td th:utext="${user.nom}" ></td>
							<td th:utext="${user.prenom}" /></td>
							<td th:utext="${user.email}" /></td>
							<td th:utext="${user.tel}" /></td>
							<td th:utext="${user.sexe}" /></td>
							
							<td><a th:href="@{/editAdmin/{id}(id=${user.id})}">Edit</a>
								&nbsp;&nbsp;&nbsp;&nbsp; <a
								th:href="@{/admins/delete/{id}(id=${user.id})}">Delete</a></td>
						</tr>
					
								
		
				</tbody>

			</table>
		</div>
	</div>
</body>
</html>